src/main/mule/httpstest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="222dd158-3b5c-4485-b585-0cdd5f1ceab0" >
		<http:listener-connection protocol="HTTP" host="0.0.0.0" port="8081" >
			
		</http:listener-connection>
			<http:listener-interceptors>
			<http:cors-interceptor allowCredentials="false">
				<http:origins>
					<http:origin url="*" accessControlMaxAge="30">
						<http:allowed-methods>
							<http:method methodName="GET" />
							<http:method methodName="POST" />
							<http:method methodName="DELETE" />
							<http:method methodName="OPTIONS" />
							<http:method methodName="HEAD" />
							<http:method methodName="PUT" />
						</http:allowed-methods>
						<http:allowed-headers>
							<http:header headerName="Origin" />
							<http:header headerName="X-Requested-With" />
							<http:header headerName="Content-Type" />
							<http:header headerName="Accept" />
							<http:header headerName="Authorization" />
						</http:allowed-headers>
					</http:origin>
				</http:origins>
			</http:cors-interceptor>
			</http:listener-interceptors>
	</http:listener-config>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="54423b56-5b47-424e-b6bc-f0350dfdaeb6" name="Router" raml="test.raml" />
	
	<flow name="get:\get\rote">
        <set-payload value="This is get call, generated MULE flow from RAML" doc:name="Set Payload"/>
    </flow>
    <flow name="get:\get\rote\(orgId)">
        <set-payload value="This is get call, generated MULE flow from RAMLasdasd" doc:name="Set Payload"/>
    </flow>
     <flow name="test2-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP"/>
		<apikit:router doc:name="APIkit Router" doc:id="ed6dd29b-db0c-4b64-82d5-b73e04b96cf8" config-ref="Router"/>
      
</flow>
    <flow name="get:\show">
        <set-payload value="This is get call and name show, generated MULE flow from RAML" doc:name="Set Payload"/>
    </flow>
	<flow name="httpstestFlow" doc:id="c230e18a-4236-48ce-96cd-c0b0ea79f9d7" >
		<http:listener doc:name="Listener" doc:id="d1c1f3a6-0bb8-4437-8cc1-782480cf3a85" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value='#["asdasd"]' doc:name="Set Payload" doc:id="e8cea19d-c264-4c15-b5da-367777aec784" />
	</flow>
</mule>
