src/main/mule/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="04608747-026a-47f4-a6e3-0c7607564c81" >
		<jms:active-mq-connection specification="JMS_1_1" >
			<jms:factory-configuration />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jmsFlow" doc:id="7a8e5619-cdb5-44a7-9d89-2ce7b630533b" >
		<http:listener doc:name="Listener" doc:id="03284605-a532-442f-90f6-1f5d2cb6128f" config-ref="HTTP_Listener_config" path="/jms"/>
		<set-payload value="#[[1,2,3]]" doc:name="Set Payload" doc:id="76f26870-3283-4883-a567-84845dc0a834" />
		<jms:publish doc:name="Publish" doc:id="1b7750f6-b82a-4736-aa76-95e294f51b40" config-ref="JMS_Config" destination="accountQ"/>
	</flow>
	<flow name="jmsFlow1" doc:id="4e849385-7f93-44ab-8f3f-6ccfdeb46de1" >
		<jms:listener doc:name="Listener" doc:id="7fb1be9e-ddd7-4dc2-af53-f0e0ffdd50fa" config-ref="JMS_Config" destination="accountQ">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<logger level="INFO" doc:name="Logger" doc:id="707aa6e4-01c0-4c47-96f4-8765737aeb9f" message="#[payload]"/>
	</flow>
	<flow name="jmsFlow2" doc:id="ac484d44-2293-4222-8476-f5035b631383" >
		<http:listener doc:name="Listener" doc:id="1057b6a8-0aa0-4c5a-aa56-313c714edac1" config-ref="HTTP_Listener_config" path="/jmsscopes"/>
		<set-payload value="#[1]" doc:name="Set Payload" doc:id="16d1e041-69ff-49e5-b7dc-6698c65bca56" />
		<set-variable value="1" doc:name="Set Variable" doc:id="ff14c60c-6608-4ba1-8bd8-9f2645edcdc5" variableName="val"/>
		<jms:publish doc:name="Publish" doc:id="ee2edc2c-7361-4073-8d3b-36749bbe7425" config-ref="JMS_Config" destination="accountQ"/>
		<set-payload value="#[payload + 1]" doc:name="Set Payload" doc:id="b42cdebd-d67f-422c-ad12-9aad74cd82aa" />
		<logger level="INFO" doc:name="Logger" doc:id="f2399af9-6f8e-4f78-9526-81831a3350c2" message="#[vars.val]"/>
	</flow>
</mule>
